# Dependencies
/node_modules/
/vendor/

# Uploads & Images
/uploads/
/upload/
/images/
/image/
/assets/images/
/public/uploads/
/public/images/
/storage/
/cache/

/app/web/upload/

# Image Files
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg

# System Files
.DS_Store

# Environment Files
.env

# Logs
*.log

# Zip Files
*.zip